networks:
  proxy:
    external: true

services:
  homepage:
    build: .
    hostname: homepage
    container_name: homepage
    networks:
      - proxy
    restart: unless-stopped
    volumes:
      - ./pocketbase/pb_data:/pb/pb_data