networks:
  proxy:
    external: true

services:
  www:
    build: .
    hostname: www
    container_name: www
    networks:
      - proxy
    restart: unless-stopped
    volumes:
      - ./pocketbase/pb_data:/pb/pb_data